*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --h1-size: clamp(4rem, 8vw, 8rem);
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Averin";
  font-size: 1.2rem;
  overflow-x: hidden;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

hr {
  height: 1px;
  background-color: #141414;
  border: none;
}

@font-face {
  font-family: Averin;
  src: url(../font/Avenir/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: Electrolize;
  src: url(../font/Electrolize/Electrolize-Regular.ttf);
}

header {
  background-image: url(../img/29706104_2206_w019_n001_602b_p15_602.jpg);
  height: 70vh;
  background-size: cover;
  background-position: center;
  align-content: center;
  width: 100%;
  text-align: center;
  /* padding-top: rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.half,
.transf {
  display: block;
}

.half {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: var(--h1-size);
  color: white;
  font-family: "Electrolize";
}

h2 {
  color: #141414;
  ;
  color: #141414;
  font-size: clamp(3rem, 4vw, 5rem);
  text-transform: uppercase;
  font-family: "Electrolize";
}

h4 {
  color: rgb(107, 43, 226);
  padding-bottom: 1rem;
  font-size: 2.3rem;
  text-transform: uppercase;
  font-family: "Electrolize";
}

h5 {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "Electrolize";
}

p {
  font-family: "Averin";
  line-height: 2rem;
}

.half {
  color: rgb(107, 43, 226);
}

.site-nav {
  box-sizing: border-box;
  background-color: white;
  position: sticky;
  top: 0;
}

.site-nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  font-family: "Electrolize";
  justify-content: center;
  padding-left: 1.3rem;
}

.site-nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: crimson;
}

.site-nav a {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: rgb(107, 43, 226);
}

.site-nav a:hover {
  color: crimson;
}

.menubutton {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: inherit;
  font: inherit;
  color: rgb(107, 43, 226);
  text-align: center;
  padding: 0.5rem 1rem;
  border: 0;
  margin: 0;
  text-transform: uppercase;
  font-family: "Electrolize";
}

.menubutton::before {
  content: url(../img/menuburger.svg);
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

.showmenu+ul {
  max-height: 100rem;
  transition: max-height 500ms;
  overflow: initial;
}

.showmenu.menubutton::before {
  content: url(../img/menuclose.svg);
}

/* ????????????????????????????????????? */

#history {
  padding: 10rem 0;
}

.container {
  max-width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
}

.historytext {
  flex: 1;
  align-content: center;
}

.historytext h2 {
  padding-bottom: 1.5rem;
}

.historytext p {
  padding-bottom: 1.5rem;
}


.historybild {
  flex: 1;
}

button {
  display: flex;
  margin-bottom: auto;
  padding: 0.5rem;
  color: #141414;
  border: 1px solid #141414;
  border-radius: 0.2rem;
  background-color: white;
}

button:hover {
  color: rgb(107, 43, 226);
  border-color: rgb(107, 43, 226);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
  row-gap: 3rem;
}

.grid-container>* {
  padding: 4rem;
}

.grid-item-0 {
  padding-left: 0;
  grid-area: 1/1/2/2;
}

.grid-item-1 {
  grid-area: 2/1/3/2;
  border: 1px solid #333;
}

.grid-item-2 {
  grid-area: 3/1/4/2;
  background-color: rgb(107, 43, 226);
}

.grid-item-3 {
  grid-area: 4/1/5/2;
  border: 1px solid #333;

}

.grid-item-4 {
  grid-area: 5/1/6/2;
  background-color: crimson;
}

.grid-item-5 {
  grid-area: 6/1/7/2;
  /* background-color: rgb(112, 92, 92); */
  border: 1px solid #333;
}

.grid-item-6 {
  grid-area: 7/1/8/2;
  background-color: rgb(107, 43, 226);
}

.grid-item-1 img,
.grid-item-3 img,
.grid-item-5 img {
  width: 100%;
  height: auto;
  display: block;
}

/* ????????????????????????????????????? */
/* media for button */
@media screen and (min-width: 768px) {
  .menubutton {
    display: none !important;
  }

  .site-nav {
    position: sticky;
  }

  .site-nav ul {
    max-height: none !important;
    flex-direction: row;
    padding: 0;
  }

  .site-nav li {
    flex: 1;
    max-width: 10rem;
    text-align: center;
  }

  /* header text */
  .half,
  .transf {
    display: inline;
    margin-bottom: 0;
  }
}

/* media for button */

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    padding: 1rem 0;
  }

  .grid-item-0 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .grid-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .grid-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: rgb(107, 43, 226);
    border-radius: 0.5rem;
  }

  .grid-item-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .grid-item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: crimson;
    border-radius: 0.5rem;
  }

  .grid-item-5 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .grid-item-6 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: rgb(107, 43, 226);
    border-radius: 0.5rem;
  }

  .grid-item-1 img,
  .grid-item-3 img,
  .grid-item-5 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
  }

  .grid-item-1,
  .grid-item-3,
  .grid-item-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f1f1f1;
    border-radius: 0.5rem;
  }

}

.grid-container p {
  color: rgba(255, 255, 255);
}

.gridtext {
  /* text-align: center; */
}

#h4 {
  color: rgb(255, 255, 255);
}



.flexbox2 {
  display: flex;
  flex-direction: column-reverse;
  gap: 5rem;
}

.klassentext {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.klassentext h5 {
  padding-bottom: 1rem;
  padding-left: 2rem;
  color: rgb(107, 43, 226);
}

.klassentext article {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  margin-top: 2rem;
  padding: 3rem;
  color: #fff;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, .2); */
}

.klassentext li {
  line-height: 2;
  list-style-type: square;
  color: #333;
}

.pic {
  max-width: 300px;
  height: auto;
}

.klassenbild {
  padding-top: 1rem;
  padding-bottom: 5rem;
}

.h2kl {
  padding-bottom: 5rem;
}

#vi {
  color: rgb(107, 43, 226);
  text-transform: uppercase;
}

/* .webtext{
  text-align: justify;
} */

.webtext h2 {
  padding-bottom: 2.5rem;
}

.webtext p {
  padding-bottom: 2rem;
}

.webtext h5 {
  padding-bottom: 1rem;
  padding-left: 2rem;
  color: rgb(107, 43, 226);
}

.webtext article {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  margin-top: 2rem;
  padding: 3rem;
  color: #fff;
  padding-left: 2rem;
  width: 100%;
  margin-bottom: 5rem;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, .2); */
}

#web {
  scroll-margin-top: 70px;
}

.webtext li {
  line-height: 3rem;
  list-style-type: none;
  color: #141414;
}

.flexbox3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

table {
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 10rem;
}

th,
td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  color: rgb(107, 43, 226);
}

.flexbox4 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.mischtext h2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.footer,
footer a {
  background-color: #141414;
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Avenir";
  font-family: "Electrolize";
  transition: all 0.3s ease;
}

.footer a:hover {
  color: rgb(107, 43, 226);
}

#ge2 {
  color: #141414;
}


/* Tablet */
@media screen and (min-width: 768px) {
  .flexbox {
    flex-direction: row-reverse;
  }

  .historytext {
    flex: 1;
  }

  .historybild {
    flex: 1;
  }

  .flexbox3 {
    flex-direction: row;
  }
}

.klassentext {
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 1280px) {

  .grid-item-1 img,
  .grid-item-3 img,
  .grid-item-5 img {
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    padding: 5rem;
  }
}